
  @media only screen and (min-height: 200px){
    .menu-main-menu-container {
        overflow: hidden;
        position: fixed;
        // width: 100%;
        color:white;
        
        ul a{
            color:white;
            text-decoration: none;
            font-size:18px;
            list-style-type: none;
            text-transform: uppercase;
        }
        li{
            display: inline;
            padding-right: 10px;
        }
        #menu-item-16, #menu-item-15, #menu-item-116,#menu-item-117 {
    right: 0;
        }
    }
  }