.journal-sidebar{
    display: flex;
    flex-wrap: nowrap;
    flex: 100%;
.journal{
    flex: 50%;
    // margin-top:40px;
    .header-journal-page{
        background-color: #248A83;
        width: 500px;
        height: auto;
        border: 1px solid green;
        color: white;
        position: absolute;
        z-index:1;
        margin-top: 40px;
        padding-top: 20px;
        padding-left: 20px;
    }
    img{
        width: 760px;
        height: 506px;
        margin-left: 160px;
        position: relative;
        z-index:0;
    }
    h4{
        background-color: #248A83;
        color: white;
        height: 30px;
        font-size: 18px;
        width: 150px;
        padding-top: 10px;
        padding-left: 20px;
        margin-left: 160px;
    }
    p{
        margin-right: -320px;
        margin-top: 0px;
    }
    .journal-content{
        padding-right: 10px;
        margin-right: 0;
    }
    .journal-line{
        display: inline;
    }
    .content-posts{
        margin-right:0;
    }
}

.sidebar{
    border-left: 1px solid #e1e1e1;
    margin-left: 60px;
    height:auto;
    position: relative;
    i{
        padding-right:10px;
    }
    
   h2{
       padding-left:0;
       margin-left: 50px;
       font-size: 25px;
    }
    p {
        padding-top:10px;
        margin-left: -270px;
        margin-top:0;
        padding-right: 30px;
        
    }
    a{
        // padding-left:5px;
        text-decoration: none;
        color:#248A83;
    }
    .widget_archive a{
        margin-left:50px;
        font-family: 'Merriweather Web Normal';
    }
    
        .biz-hours-class{
            h2.widget-title{
                    display: none;
                
            }
        
    }
    
}


}

.header-journal-page{
    background-color: #248A83;
    width: 500px;
    height: auto;
    border: 1px solid green;
    color: white;
    position: absolute;
    z-index:1;
    margin-top: 40px;
    padding-top: 20px;
    padding-left: 20px;
}
img{
    width: 760px;
    height: 506px;
    margin-left: 160px;
    position: relative;
    z-index:0;
}
h4{
    background-color: #248A83;
    color: white;
    height: 30px;
    font-size: 18px;
    width: 150px;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: 160px;
}
hr.archive{
    border-top: 0.1px solid #e1e1e1;
    width:760px;
    // color:red;
    margin: 20px 0 50px 160px;
}