* {
    box-sizing: border-box;
  }
.shop_container{
    display: grid;
    // flex-wrap: wrap;
   grid-template-columns: repeat(20%);
    // margin-top: 250px;

    .shop_items{
       
        // flex:20%;
        grid-gap: 20px;
        // background-color: #2196F3;
        padding: 10px;
        .shop_images{
            display: block;
            img{
                object-fit: cover;
                width: auto;
                height: 250px;
                margin-left: 0;
                // height:auto;
                // width:250px;
                // max-width: 100%;
                
        
                }

        }

    
       
    }
}
.shop-link{
    display:inline;
    text-transform: capitalize;
    text-align: center;
    .shop_stuff {
        // display:inline;
        color: #248A83;
        text-decoration: none;
        font-size: 22px;
      text-align: center;
        padding-left: 25px;
     }

}
 hr.shop-line{
border-top: 1px dashed #a1a1a1;
margin-left: 160px;
margin-right: 150px;
margin-top: 50px;
margin-bottom: 50px;

 }

 // CSS for single-products.php - Styling for Single Product
 .single-container{
    display: flex;
    flex:100%;
    flex-wrap: no-wrap;
img {
    flex: 50%;
    width:537px;
    height:auto;
    margin-top: 50px;
  
}
.shop-content{
    flex: 50%;
    margin-left:50px;
    .orange-title{
        grid-column-start: 2;
        grid-row-start: 1;
        color: #d99054;
        margin-left: 0;
    }
    .price{
        grid-column-start: 2;
        grid-row-start: 2;
        font-size:30px;
        font-family: 'Novecento Sans Web Normal';
        margin-bottom: 10px;
      
    
    }
    p{
        grid-column-start: 2;
        grid-row-start: 3;
        margin: 0 150px 0 0;
        padding: 0 0 0 0;
    }
    .single-button{
        margin-left: 0px;
       
    }
    i{
        padding-right:10px;
    }
}


}


 //End of Single Product Styling